doctype
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/main.css')
  body
    .container
      .profile-wrapper
          if user
            .user-wrapper
              .user-name #{user.nick}님 반갑습니다.
              a#logout.btn(href='/auth/logout') 로그아웃
          else
            .login-wrapper.input-field
              form#login-form(action='/auth/login' method='post')
                .input-group
                  label(for='email') 이메일임
                  input#email(type='email' name='email' required autofocus)
                .input-group
                  label(for='password') 비밀번호
                  input#password(type='password' name='password' required)
                if loginError
                  .error-message= loginError
                .input-button  
                  a#signup.btn(href='/signup') 회원가입
                  button#login.btn(type='submit') 로그인
        
      block content
